body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  align-items: center;
}

button {
  width: 50%;
  margin-top: 1rem;
}

#input-cashGiven {
  display: none;
}

.details-section {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-section {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.input-section input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.icon {
  width: 1.2rem;
  cursor: pointer;
}

.icon.delete {
  /* margin-top: 1.2rem; */
  display: none;
}
